<!DOCTYPE html>
<html>
<head>
<title>Success</title>
</head>
<body>
	<div>
		<div>
			<div>
				<h2>Success</h2>

				<p>Your account login is working and you have authenticated.</p>


				<h2>You are logged in.</h2>

				<p>
					<a href="/uaa/logout.do">Logout</a>
				</p>

			</div>
		</div>
		<div>
			Commit: <%=AppConfig[:commit_id]%>, Timestamp: <%=AppConfig[:timestamp].xmlschema%>
		</div>
	</div>
</body>
</html>
